<a href="https://colab.research.google.com/github/rohitgupta29/Projects-for-Practice-/blob/master/IPL_analysis_using_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Problem statement- we want to know as to what happens during an IPL match which raises several questions in our mind with our limited knowledge about the game called cricket on which it is based. This analysis is done to know as which factors led one of the team to win and how does it matter.

In [0]:
import pandas as pd
import numpy as np
path = 'Downloads\ipl_data.csv.txt'
df_ipl = pd.read_csv(path)
df_ipl.shape

(136522, 24)

In [0]:
#There are matches being played all around the world. Find the list of unique cities where matches are being played throughout the world.

print('\Venues Played At: ', df_ipl['city'].unique())

\Venues Played At:  ['East London' 'Port Elizabeth' 'Centurion' 'neutral_venue' 'Chennai'
 'Jaipur' 'Kolkata' 'Delhi' 'Chandigarh' 'Hyderabad' 'Ranchi' 'Mumbai'
 'Bangalore' 'Dharamsala' 'Pune' 'Rajkot' 'Durban' 'Cuttack' 'Cape Town'
 'Ahmedabad' 'Johannesburg' 'Visakhapatnam' 'Abu Dhabi' 'Raipur' 'Kochi'
 'Kimberley' 'Nagpur' 'Bloemfontein' 'Indore' 'Kanpur']

In [0]:

df_ipl.tail()

,match_code,date,city,venue,team1,team2,toss_winner,toss_decision,winner,win_type,...,batsman,non_striker,bowler,runs,extras,total,extras_type,player_out,wicket_kind,wicket_fielders
136517,336018,2008-05-14,Mumbai,Wankhede Stadium,Mumbai Indians,Chennai Super Kings,Mumbai Indians,field,Mumbai Indians,wickets,...,ST Jayasuriya,RV Uthappa,CK Kapugedera,6,0,6,NaN,NaN,NaN,NaN
136518,336018,2008-05-14,Mumbai,Wankhede Stadium,Mumbai Indians,Chennai Super Kings,Mumbai Indians,field,Mumbai Indians,wickets,...,ST Jayasuriya,RV Uthappa,CK Kapugedera,6,0,6,NaN,NaN,NaN,NaN
136519,336018,2008-05-14,Mumbai,Wankhede Stadium,Mumbai Indians,Chennai Super Kings,Mumbai Indians,field,Mumbai Indians,wickets,...,ST Jayasuriya,RV Uthappa,CK Kapugedera,6,0,6,NaN,NaN,NaN,NaN
136520,336018,2008-05-14,Mumbai,Wankhede Stadium,Mumbai Indians,Chennai Super Kings,Mumbai Indians,field,Mumbai Indians,wickets,...,ST Jayasuriya,RV Uthappa,CK Kapugedera,4,0,4,NaN,NaN,NaN,NaN
136521,336018,2008-05-14,Mumbai,Wankhede Stadium,Mumbai Indians,Chennai Super Kings,Mumbai Indians,field,Mumbai Indians,wickets,...,ST Jayasuriya,RV Uthappa,CK Kapugedera,4,0,4,NaN,NaN,NaN,NaN

In [0]:
#Find columns containing null values if any.

df_ipl.isnull().sum()

match_code              0
date                    0
city                    0
venue                   0
team1                   0
team2                   0
toss_winner             0
toss_decision           0
winner               1818
win_type             1818
win_margin           1818
inning                  0
delivery                0
batting_team            0
batsman                 0
non_striker             0
bowler                  0
runs                    0
extras                  0
total                   0
extras_type        129064
player_out         129807
wicket_kind        129807
wicket_fielders    131657
dtype: int64

In [0]:
#Matches are played throughout the world in different countries but they may or may not have multiple venues(stadiums where matches are played). Find the top 5 venues where the most matches are played.

venues = df_ipl.groupby('venue')['match_code'].nunique().sort_values(ascending = False)
print('Top 5 favoured grounds are : \n', venues[0:5])

Top 5 favoured grounds are :
 venue
M Chinnaswamy Stadium              58
Eden Gardens                       54
Feroz Shah Kotla                   53
Wankhede Stadium                   49
MA Chidambaram Stadium, Chepauk    48
Name: match_code, dtype: int64

In [0]:
#Find out how the runs were scored that is the runs count frequency table( number of singles, doubles, boundaries, sixes etc were scored).¶

runs_counts = df_ipl['runs'].value_counts()
#print('Runs count frequency table: \n', runs_counts)

Runs count frequency table:
 0    55870
1    50087
4    15409
2     8835
6     5806
3      473
5       42
Name: runs, dtype: int64

In [0]:
#IPL seasons are held every year now let's look at our data and extract how many seasons and which year were they played?

df_ipl['year'] = df_ipl['date'].apply(lambda x: x[:4])

print('The no. of seasons that were played are :', len(df_ipl['year'].unique()))
print('Seasons played were in :', df_ipl['year'].unique())

The no. of seasons that were played are : 9
Seasons played were in : ['2009' '2014' '2011' '2008' '2015' '2010' '2013' '2012' '2016']

In [0]:
#Find out the total number of matches played in each season also find the total number of runs scored in each season.

matches_per_season = df_ipl.groupby('year')['match_code'].nunique()
print('Matches held per season are : \n', matches_per_season)

Matches held per season are :
 year
2008    58
2009    57
2010    60
2011    73
2012    74
2013    76
2014    60
2015    59
2016    60
Name: match_code, dtype: int64

In [0]:
runs_per_season = df_ipl.groupby('year')['total'].sum()
print('total runs scored per season are: \n')

total runs scored per season are:
 year
2008    17936
2009    16320
2010    18862
2011    21154
2012    22451
2013    22541
2014    18909
2015    18331
2016    18862
Name: total, dtype: int64

In [0]:
#There are teams which are high performing and low performing. Let's look at the aspect of performance of an individual team. Filter the data and aggregate the runs scored by each team. Display top 10 results which are having runs scored over 200.

high_scores = df_ipl.groupby(['match_code', 'inning', 'winner' ])['total'].sum().reset_index()
high_scores = high_scores[high_scores['total'] >= 200]
high_scores.nlargest(10, 'total')

      match_code  inning                       winner  total
692       598027       1  Royal Challengers Bangalore    263
1102      980987       1  Royal Challengers Bangalore    248
288       419137       1          Chennai Super Kings    246
2         335983       1          Chennai Super Kings    240
988       829795       1  Royal Challengers Bangalore    235
468       501260       1              Kings XI Punjab    232
394       501223       1             Delhi Daredevils    231
840       733987       1              Kings XI Punjab    231
1022      980907       1  Royal Challengers Bangalore    227
900       734047       1              Kings XI Punjab    226

In [0]:
#Chasing a 200+ target is difficulty in T-20 format. What are the chances that a team scoring runs above 200 in their 1st inning is chased by the opposition in 2nd inning.

high_scores1 = high_scores[high_scores['inning'] == 1]
high_scores2 = high_scores[high_scores['inning'] == 2]
high_scores1 = high_scores1.merge(high_scores2[['match_code','inning','total']], on = 'match_code')

high_scores1.rename(columns= {'inning_x': 'inning_1', 'inning_y':'inning_2', 'total_x':'inning1_runs','total_y':'inning2_runs'}, inplace = True)
high_scores1=high_scores1[high_scores1['inning1_runs']>= 200]
high_scores1['is_score_chased'] = 1
high_scores1['is_score_chased'] = np.where(high_scores1['inning1_runs']<= high_scores1['inning2_runs'], 'yes','no')

chances = high_scores1['is_score_chased'].value_counts()
print('The chances of chasing a target of 200+ in 1st innings are :\n', chances[1]/14*100)

The chances of chasing a target of 200+ in 1st innings are :
 42.857142857142854

In [0]:
#Every season has that one team which is outperforming others and is in great form. Which team has the highest win counts in their respective seasons ?

match_wise_data = df_ipl.drop_duplicates(subset = 'match_code', keep = 'first').reset_index(drop = True)
match_wise_data.groupby('year')['winner'].value_counts(ascending = False)

year  winner
2008  Rajasthan Royals           13
      Kings XI Punjab            10
      Chennai Super Kings         9
      Delhi Daredevils            7
      Mumbai Indians              7
                                 ..
2016  Kolkata Knight Riders       8
      Delhi Daredevils            7
      Mumbai Indians              7
      Rising Pune Supergiants     5
      Kings XI Punjab             4
Name: winner, Length: 76, dtype: int64